<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Practice - Day 001</title>
</head>
<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="index.html">Home Page</a></li>
                <li><a href="2022-10-22.html">22 October 2022</a></li>
            </ul>
        </nav>
    </header>
    <div id="root">
        <h1>{{greetings}}</h1>
        <p>My name is {{myName}}. I am a {{myProfession}}.</p>
        <p>I've started learning vue because {{reasonForLearningVue}}</p>
        <h3>My targeted marketplaces-</h3>
        <ol>
            <li v-for="marketplace in targetMarketplaces">
                {{marketplace}}
            </li>
        </ol>
        <h3>My existing skills-</h3>
        <ol>
            <li v-for="skill in myExistingSkills">
                {{skill}}
            </li>
        </ol>
        <p><strong>Despite having the above skills I don't get much job from marketplaces.</strong></p>

        <h3>Learned &amp; Practiced Today- </h3>
        <ol>
            <li v-for="topic in vueJsTopicsLearnedToday">
                {{topic}}
            </li>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#root',
            data: {
                greetings: "Assalamu alaikum.",
                myName: "Md. Mufachir Hossain",
                myProfession: "Software Engineer",
                reasonForLearningVue: "I want to get work from international marketplaces and secure any remote job with higher salaries.",
                targetMarketplaces: ['Toptal', 'Hubstaff Talent', 'Fiverr', 'Upwork', 'Freelancer.com'],
                myExistingSkills: ["HTML", 'CSS', 'Javascript', 'jQuery', 'AJAX', 'Bootstrap', 'SQL', 'PLSQL', 
                'MySQL', 'PostgreSQL', 'Grails', 'JasperReports', 'Java', 'Apache Tomcat'],
                vueJsTopicsLearnedToday: ['Referencing Vue.js Library', 'Vue Instance', 'Expression', 'Directives']
            }
        });
    </script>
</body>
</html>